<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">TEXT GO HERE TEST</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</li>
        <li><a href="/Log In">Log In</li>
        </ul>
    </div>
</div>

<div class="container">

