
#gb-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
/* Game board attributes,affects size of board, + page styling*/
.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    
}
/* The blocks that make up the gameboard*/
.block {
    width: 20px;
    height: 20px;
    
}
/* Option container, this is where all the player ships are stored*/
.ship-container {
    width: 300px;
    height: 80px;
    margin: 20px 0;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/*Each Ship has a preview and the ship itself. The ships are always of a set size, the only
thing set here is the color. The previews are the small version of the ships that reside
within the ship-container */
.destroyer {
    background-color: orange;
}

.submarine {
    background-color:mediumpurple;
}

.cruiser {
    background-color:black;
}

.battleship {
    background-color:magenta;
}

.carrier {
    background-color: indigo;
}

.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

.hover {
    background-color: teal;
}
/*Styling for computer ships, The way we keep the computer ships invisble is by
keeping background color + ship color the same*/
#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: aquamarine;
}

/* These colors override the space color, to register hit or miss */
.hit {
    background-color: red !important;
}

.empty {
    background-color: grey !important;
}