
#gb-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    
}

.block {
    width: 20px;
    height: 20px;
    
}

.option-container {
    width: 400px;
    height: 60px;
    margin: 20px 0;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


.destroyer {
    background-color: orange;
}

.submarine {
    background-color:mediumpurple;
}

.cruiser {
    background-color:black;
}

.battleship {
    background-color:magenta;
}

.carrier {
    background-color: indigo;
}

.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

.hover {
    background-color: grey;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: aquamarine;
}


.hit {
    background-color: red !important;
}

.empty {
    background-color: grey !important;
}